<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="css/styles.css" rel="stylesheet">
    <title>To DO LIST</title>
  </head>
  <body>
    <div class="box" id="heading">
      <h1>Today is <%= day %></h1>
    </div>
    <!-- <% if(day==="Sunday" || day==="Saturday"){%>
    <h1 style="color: red"><%=day%> TODO List</h1>
    <%}else{%>
    <h1 style="color: blueviolet"><%=day%> TODO List</h1>
    <%}%> -->

    <div class="box">
      <% for(let i=0;i<newList.length;i++){ %>
        <div class="item">
          <input type="checkbox">
          <p><%= newList[i] %></p>
        </div>
      <%}%>

      <form class="item" action="/" method="post">
        <input name="newItem" type="text" placeholder="New Item" autocomplete="off"/>
        <button name="button" type="submit">+</button>
      </form>
    </div>

  </body>
</html>
